In [154]:
import pandas as pd

In [155]:
url = 'https://raw.githubusercontent.com/JuliaData/CSV.jl/refs/heads/main/test/testfiles/Sacramentorealestatetransactions.csv'
df = pd.read_csv(url)

In [156]:
df

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...
980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

Number of the columns in the data frame

In [157]:
df.shape[1]

12

Mean of the house prices

In [158]:
print(f"Mean house price: {df['price'].mean()}")

Mean house price: 234144.26395939087

Median of the house prices

In [159]:
print(f"Median house price: {df['price'].median()}")

Median house price: 213750.0

Different types of property in the dataset

In [160]:
# Find the different types of property in the dataset
property_types = df['type'].unique()
print(f"Different types of properties: {property_types}")

Different types of properties: ['Residential' 'Condo' 'Multi-Family' 'Unkown']

Maximum price of a "condo" in the dataset

In [161]:
# Find the maximum price of a "condo" in the dataset
print(f"Maximum condo price: {df[df['type'] == 'Condo']['price'].max()}")

Maximum condo price: 360000

Mean of each type of property in the dataset

In [162]:
# Find the mean price of each type of property in the dataset
print(f"Mean price of each property type: {df.groupby('type')['price'].mean()}")

Mean price of each property type: type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

Find the count of different property types in dataset

In [163]:
print(f"Count of different property types: {df['type'].value_counts()}")

Count of different property types: type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64